/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.alert-error{
    background-color:aliceblue;
    border: blue;
    color:chocolate;
}
.alert-success{
    background-color:aliceblue;
    border: blue;
    color:chocolate;
}

.alert .mat-simple-snackbar{
    justify-content: center;


}